.starRatingDisplay {
  position: relative;
  display: inline-flex;
}

.starBackground {
  color: #203838;
}

:global .alternating-bg:nth-of-type(odd) {
  :local .starBackground {
    color: darkslategray;
  }
}

.starForeground {
  color: white;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
