.ratingContainer {
  background-color: var(--accent-1);
  --alternate-bg: var(--accent-2);

  display: flex;
  align-items: center;

  padding: 0.25em;
  gap: 0.25em;
}

.setImage {
  flex-basis: min-content;
}
