.ratingDistributionContainer {
  width: 80%;
  height: 2rem;
  margin: 0;
  color: rgba(125, 125, 125, 0.33);
  display: table-cell;
  vertical-align: bottom;

  .bar {
    width: calc(100% / 11);
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
    background-color: rgba(125, 125, 125, 0.33);
    border-bottom: 1px solid rgba(125, 125, 125, 0.33);
    box-sizing: border-box;

    &:hover {
      border: 1px solid white;
      transition: 0.33s;
    }
  }
}
