.footer {
  display: block;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  box-sizing: border-box;
  margin-top: 15rem;
  margin-bottom: 5rem;
  margin-left: 0;
  color: grey;
  text-align: center;
}
