.ratingContainer {
  --alternate-bg: #203838;

  display: flex;
  background-color: var(--accent-1);
  align-items: center;

  padding: 0.25em;
  gap: 0.25em;
}

.setImage {
  flex-basis: min-content;
}

.diffThumb {
  height: 32px;
  width: 32px;
  border: 1px solid #ddd;
  object-fit: cover;
}

.profilePicture {
  width: 24px;
  height: 24px;
}
