.starRatingDisplay {
  position: relative;
  display: inline-flex;
}

.starBackground {
  color: #203838;
}

.starForeground {
  color: white;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
